nav {
    background-color: #675648ba;
    position: fixed;
    padding: 10px;
    padding-left: 15px;
    width: 93.3%;
}
nav a {
    color: aquamarine;
    margin-left: 40px;
    
}
.body {
    margin-top: 10px;
}


body {
    color: whitesmoke;
    background-color: #464544;

    font: normal 16px "Bookman Old Style", serif;
    line-height: 1.6em;
    padding: 20px;
    
}

body h1 {
    width: 20%;
    margin: auto;
    padding: 20px;
    text-decoration: underline;
    letter-spacing: 0.2em;
    font-style: italic;
}


a{
    text-decoration: none;
    color: rgb(187, 213, 237);
}
a:hover {
    color: rgb(245, 128, 183);
}

.button {
    background-color: aqua;
    padding: 10px 40px;
    color: #4E5754;
    border-radius: 40px;
  }
  .button:hover {
    background-color: rgb(113, 206, 249);
  }

  .clr {
    clear: both;
  }

.box-1 {
    background-color: #696969;
    width: 80%;
    margin: auto;
    padding: 1px 25px 1px 25px;
    border-radius: 5px;
     }

.box-2 {
    background-color: #8B6D5C;
    width: 60%;
    margin: auto;
    padding: 1px 40px 1px 40px;
    border-radius: 20px;
    margin-top: 25px;
}

aside p {
    width: 20%;
    padding: 30px;
    margin-left: 15px;
    border-radius: 35px;
    float: right;
    font-style: italic;
    background-color: #4E5754;
  }

  .type {
    border: 1px #ccc solid;
    padding: 10px;
  }

  .type h2 {
    text-align: center;
  }

  .my-form {
    padding: 20px;
  }

  .form-group{
    padding-bottom: 15px;
  }

  .form-group label{
    display: block;
  }
 
  .my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
    background-color: rgb(225, 198, 175);
  }

  .block {
    float:left;
    width: 33.3%;
    border: 3px dotted #8B6D5C;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 35px;
    text-align: center;
  }

  #main-block {
    float: left;
    width: 70%;
  }
  #main-block h3 {
    text-align: center;
  }

  #sidebar {
    float: right;
    width: 30%;
    background-color: rgb(73, 103, 93);
    padding: 30px;
    border-radius: 80px;
    margin-top: 30px;
    box-sizing: border-box;
  }

  

 
  